<?xml version="1.0" encoding="UTF-8"?>
<!--
File applicationContext.xml is needed to create application context.
It will contain all necessary beans declarations and settings.
We don't have any of them at this point, but the file must exist.
-->
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-4.0.xsd">

</beans>